/*
Red: C42228
Black: 1E1E1E
White: FFFFFF
*/

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Navbar */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #C42228;
  
}

nav .logo-container {
  width: 170px;
  
  background: transparent;
  border: transparent;
  cursor: pointer;
}

nav .logo-container .logo {
  width: 100%;
}

nav .button-container {
  margin: 30px;
}

nav .nav-button {
  color: white;
  background: none;
  font-size: 30px;
  padding: 20px 20px;
  border: none;
  margin: 10px;
  cursor: pointer;
  transition: 0.75s;
}

nav .nav-button:hover {
  color: black;
}

